ShoppingCartBackend/HELP.md
ShoppingCartBackend/target/
!ShoppingCartBackend/.mvn/wrapper/maven-wrapper.jar
!ShoppingCartBackend/**/src/main/**/target/
!ShoppingCartBackend/**/src/test/**/target/

### STS ###
ShoppingCartBackend/.apt_generated
ShoppingCartBackend/.classpath
ShoppingCartBackend/.factorypath
ShoppingCartBackend/.project
ShoppingCartBackend/.settings
ShoppingCartBackend/.springBeans
ShoppingCartBackend/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr